* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'poppins', sans-serif;
    padding: 0;
    margin: 0;
    background-image: url("Fundo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    overflow-x: hidden;
    width: 100vw;
}

p {
    color: aliceblue;
    font-size: 2vh;
    margin: 0px;
}

h1 {
    color: aliceblue;
    font-size: 6vh;
    margin: 0px;
}

h3 {
    color: aliceblue;
    font-size: 4vh;
    margin: 0px;
}

main {
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-top: 19vh;
    align-items: center;
    justify-content: center;
}

footer {
    padding: 4vh 11vw 4vh 11vw;
    height: 40vh;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.rodape {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20vh;
}

.imagem-rodape {
    display: flex;
    height: 20vh;
    align-items: center;
}

.Conteúdo1 {
    margin-top: 34vh;
    margin-left: 11vw;
    margin-right: 11vw;
    margin-bottom: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    height: auto;
    background: linear-gradient(135deg, rgba(53, 53, 53, 0.3), rgba(53, 53, 53, 0.2));
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 4vh 5vw 4vh 5vw;

}

.destaque {
    height: 50vh;
    border-radius: 10px;
}

.conteudo2-caixa {
    align-items: center;
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.conteudo2-texto {
    width: 64vh;
}

.Conteúdo2 {
    justify-content: center;
    border-radius: 20px;
    box-shadow:
        -10px 0 10px -5px rgba(0, 0, 0, 0.3),
        10px 0 10px -5px rgba(0, 0, 0, 0.3),
        0 -10px 10px -5px rgba(0, 0, 0, 0.3),
        0 10px 10px -5px rgba(0, 0, 0, 0.3);
    ;
    align-items: center;
    width: 70vw;
    margin: 0px;
    flex-direction: column;
    background-color: rgb(29, 38, 59);
    display: flex;
    text-align: justify;
    height: 90vh;
    padding: 4vh 11vw 4vh 11vw;
}

.Caixa-fundo-conteudo2 {
    padding-top: 5vh;
    box-shadow:
        0 -10px 15px -5px rgba(0, 0, 0, 0.6),
        0 10px 15px -5px rgba(0, 0, 0, 0.6);
    margin-top: 35vh;
    height: 100vh;
    display: flex;
    width: 100vw;
    justify-content: center;
    background-color: rgb(52, 68, 104);
}

.inicial {
    display: flex;
    flex-direction: column;
    width: 83vh;
    height: 40vh;
    background: linear-gradient(135deg, rgba(53, 53, 53, 0.3), rgba(53, 53, 53, 0.2));
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    background-color: rgb(29, 38, 59);
    padding: 0 20px;
}

.navbar-logo {
    display: flex;
    height: 7vh;
    align-items: center;
}

.navbar-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.logo {
    height: 7vh;
    border-radius: 100%;
}

.ini-logo {
    height: 13vh;
    border-radius: 100%;
    object-fit: cover;
}

a {
    color: aliceblue;
}

h4 {
    color: rgb(99, 115, 151);
}

.emails {
    position: absolute;
    top: 3.8vh;
    margin-left: 15vw;
    gap: 0.55vh;
    font-size: 1.8vh;
    display: flex;
    flex-direction: column;
    width: 15vw;
}

.devs {
    font-size: 2.2vh;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    width: 11vw;
}

.informacoes {
    width: 35vw;
}

.email {
    font-style: italic;
    color: rgb(164, 164, 164);
}

.copyright-div {
    position: absolute;
    width: 10vw;
    left: 80vw;
    top: 20vh;
}

.copyright{
    font-size: 1.6vh;
    color: rgb(109, 109, 109);
}

.info-instituicao {
    position:absolute;
    left: 36vw;
    font-size: 2.2vh;
}

.links:hover{
    background-color: rgb(43, 51, 70);
    transition: background-color 0.4s ease, transform 0.4s ease;
}

.links{
    border-radius: 5px;
    padding-top: 3.2vh;
    display: block; 
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 0.8vw;
    width: 8vw;
    height: 9vh;
}