body{
    display: flex;
    flex-direction: column;
    font-family: 'poppins', sans-serif;
    padding: 0;
    margin: 0;
    background-image: url("Fundo.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

h1{
    color: aliceblue;
    font-size: 50px;
    margin: 0px;
}

h3{
    color: aliceblue;
    font-size: 30px;
    margin: 0px;
}

main{
    display: flex;
    flex-direction: column;
    padding: 120px;
    align-items: center;
    justify-content: center;
}

.inicial {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    background: linear-gradient(135deg, rgba(53, 53, 53, 0.3), rgba(53, 53, 53, 0.2));
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px); 
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;    
    align-items: center;
    justify-content: center;
} 

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(95, 158, 160);
    padding: 0 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.logo{
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
}

.ini-logo{
    height: 90px;
    border-radius: 100%;
    object-fit: cover;
}

button{
    border-radius: 8px;
    color: aliceblue;
    padding: 10px;
    width: 150px;
    height: 80px;
    font-family: "poppins", sans-serif;
    background-color: cadetblue;
    border: none;
}

button:hover{
    background-color: rgb(106, 175, 177);
    transition: background-color 0.4s ease, transform 0.4s ease;
}